
.pagination {
    display: flex;
    justify-content: center;
}

.pagination > .active > .page-link {
    z-index: 3;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.pagination > .page-link {
    padding: 0.25rem 0.5rem; /* Điều chỉnh padding để giảm kích thước */
    margin: 0 0.2rem; /* Điều chỉnh margin giữa các mũi tên */
    font-size: 0.875rem; /* Điều chỉnh kích thước font */
    line-height: 1.5; /* Điều chỉnh chiều cao dòng */
    border-radius: 0.25rem; /* Điều chỉnh góc bo tròn */
}
